@import url('https://fonts.googleapis.com/css?family=Tajawal');

$backgroundColor: #121217;
$footerBackground: #282828;
$blackColor: #000000;
$textColorGrey: #9c9c9d;
$textColorWhite: #ffffff;
$greenColor: #07d477;
$greenColorHover: #14d39a;

$fontPage: 'Tajawal', sans-serif;
$sizeIcon: 1.7rem;
$marginTop: 2rem;

$playLineColor: #404040;
$marginForIcon: 0.9rem;